{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
    {% endfor %}
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Billing address</h4>

        <div class="mb-3">
          <label for="address">Address</label>
          {{ form.street_address }}
        </div>

        <div class="mb-3">
          <label for="address2">Address 2<span class="text-muted">(Optional)</span></label>
          {{ form.apartment_address }}
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Country</label>
            {{ form.country }}
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
<!--            <input type="text" class="form-control" id="zip" placeholder="" required>-->
            {{ form.zip }}
            <div class="invalid-feedback">
              Zip code required.
            </div>
          </div>
        </div>
        <hr>
        <div class="custom-control custom-checkbox">
          {{ form.same_shipping_address }}
          <label for="same-address">Shipping address is the same as my billing address</label>
        </div>
        <div class="custom-control custom-checkbox">
          {{ form.save_info }}
          <label for="same-address">Save this information for next time </label>
        </div>
        <hr class="mb-4">

        <h4 class="mb-3">Payment</h4>

        <div class="d-block my-3">
                {% for value, name in form.fields.payment_option.choices %}
                <div class="custom-control custom-radio">
                  <input id="{{ name }}" name="payment_option" value="{{ value }}" type="radio" class="custom-control-input" required>
                  <label class="custom-control-label" for="{{ name }}">{{ name }}</label>
                </div>
                {% endfor %}
              </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
    </div>
    </form>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021 One Stop Sport Shop</p>
  </footer>
</div>

{% endblock %}