{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
    {% endfor %}
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Billing address</h4>

        <div class="mb-3">
          <label for="address">Address</label>
          {{ form.street_address }}
        </div>

        <div class="mb-3">
          <label for="address2">Address 2<span class="text-muted">(Optional)</span></label>
          {{ form.apartment_address }}
        </div>

        <div class="mb-3">
          <label for="city">City</label>
          {{ form.city }}
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Country</label>
            {{ form.country }}
            <div class="invalid-feedback">
              Please select a valid country.
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            {{ form.zip }}
            <div class="invalid-feedback">
              Zip code required.
            </div>
          </div>
        </div>
        <hr class="mb-4">

        <h4 class="mb-3">Payment</h4>

        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
    </div>
    </form>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2021 One Stop Sport Shop</p>
  </footer>
</div>

{% endblock %}