{% extends "base.html" %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
    {% endfor %}
  {% endif %}
    <div class="container product">
    <h3>{{ product.name }}</h3>
    <h4 class="text-muted">{{ product.category }} - {{ product.sub_category }}</h4>
    <img src="{{ product.picture.url }}" class="card-img img-fluid" height="350" alt="">
    <hr/>
    <p>{{ product.description }}</p>
    </hr>
    </br>
    <h5>
        {% if product.discount_price %}
            <span class="mr-1">
                <del>€{{ product.price }}</del>
            </span>
            <span><strong>€{{ product.discount_price }}</strong></span>
        {% else %}
            <span>€{{ product.price }}</span>
        {% endif %}
    </h5>
    <a href="{{ product.get_add_to_cart_url }}" class="btn bg-cart">Add to cart</a>
    <a href="{{ product.get_remove_from_cart_url }}" class="btn btn-danger">Remove from cart</a>
    </div>
{% endblock %}